html {
      background: #ffc600;
      font-family: 'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }

body {
    margin: 0;
}


.container {
    min-height: 100vh;
    justify-content: center;
    display: flex;
}

.panel {
    width: 100%;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1); /* Adds a 5px from border shadow to each image */
    transition: 
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    flex: 1; /* evenly distribute items among space */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}       

/* Apply margin to 0 to all child elements of panel class */
.panel > * {
    margin: 0;
    width: 100%;
    /*  Add this to see what we're doing with the code below
    border: 1px solid red; 
    */
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0);}



/* Select the 2nd paragraph in each panel class div */
.panel p:nth-child(2) {
    font-size: 2em;
}

/*Transition classes -------------------------*/ 
.panel.open {
    flex: 5;
    font-size: 1.3em;
}

.panel1 {
    background-image: url(img/pamela-lima-761283-unsplash.jpg);
}

.panel2 {
    background-image: url(img/guy-stevens-746794-unsplash.jpg);
}

.panel3 {
    background-image: url(img/jeremy-bishop-335002-unsplash.jpg);
}

.panel4 {
    background-image: url(img/pablo-merchan-montes-723425-unsplash.jpg);
}

.panel5 {
    background-image: url(img/tim-mossholder-660364-unsplash.jpg);
}